<!-- //$Id: chc_index.htm 8473 2015-08-05 11:47:39Z chiming $ -->


<div align="center"><h3>彰化縣教育報表填報作業</h3>
<table  align=center border=0 width=650 cellspacing='1' cellpadding=1  bgcolor=#9EBCDD style="font-size:12pt" >
<tr align=center>
<td><b>項次</b></td>
<td><b>填報項目</b></td>
<td colspan=2><b>檔案輸出</b></td>

</tr>
<tr  bgcolor=white align=center onMouseOver=this.style.backgroundColor='#FFCE3C'
onMouseOut=this.style.backgroundColor=''>
<td>1</td>
<td align=left>103年家長關係身份調查填報</td>
<td><a href="chc_stud.php?type=ODS">ODS開放格式</a></td>
<td><a href="chc_stud.php?type=XLS">XLS封閉格式</a></td>
</tr>
<tr  bgcolor=white align=center onMouseOver=this.style.backgroundColor='#FFCE3C'
onMouseOut=this.style.backgroundColor=''>
<td>2</td>
<td align=left>歷屆段考(彰縣)</td>
<td colspan=2><a href="chc_stage_score.php">操作</a></td>
</tr>
<tr  bgcolor=white align=center onMouseOver=this.style.backgroundColor='#FFCE3C'
onMouseOut=this.style.backgroundColor=''>
<td>3</td>
<td align=left>國中五學期各學習領域成績</td>
<td colspan=2><a href="chc_stage_disgrad.php">操作</a></td>
</tr>
<tr bgcolor=white align=center onMouseOver=this.style.backgroundColor='#FFCE3C'
onMouseOut=this.style.backgroundColor=''>
<td>4</td>
<td align=left>本學年國中小入學學生名冊(含轉出)</td>
<td colspan=2><a href="chc_newstud.php">下載</a></td>
</tr>



</table>
<table align=center border=0 width=650 ><tr><td>
<br><b>※使用說明：</b>
<br>

<span style="font-size: 11pt; ">1.建議使用OpenOffice.Org的「ODS開放格式」下載後再打開，再另存成XLS檔。<br>
2.若以「XLS封閉格式」下載時，不提供中文工作表名稱，須自行修改(ODS格式無此問題)。<br>
3.學生姓名等資料..如有錯誤，會導致無法打開ODS檔案，須先修正才能正確打開。<br>
4.匯出資料若無(家長、關係)資料時，請先各班導師先完成資料輸入後再行匯出。
</span>
</td></tr></table>

<br><br><br>
<DIV style="color:blue;font-size:9pt">
◎By 彰化縣學務系統開發小組 於 98.11.25</DIV>
</div>
